<span class="pull-right">
  <button type="button" class="btn btn-success btn-xs">
    {{#if 'isSorted'}}
      <span class="glyphicon glyphicon-sort-by-alphabet"></span>
    {{else}}
      <span class="glyphicon glyphicon-sort-by-order-alt"></span>
    {{/if}}
  </button>
</span>
