html, body{
  margin: 20px;
}

.my-menu {
	margin-top: 30px;
	width: 20% !important;
}
/*#homepage {
  border-style: groove;
  background-color: #d4d3ce;
}*/

.active {
  font-weight: bold;
  font-family: helvetica;
}

.pointer {
  float: right;
}

#records-chart {
  height: 2000px
}
