<!-- <nav id="my-menu" class="my-menu">
   <ul>
      <li>
      	<a href="#">Home</a>
      	<input type="checkbox" class="Toggle" />
      </li>
      <li>
         <a href="#">About us</a>
         <ul>
            <li><a href="#">History</a></li>
            <li><a href="#">The team</a></li>
            <li><a href="#">Our address</a></li>
         </ul>
      </li>
      <li><a href="#">Contact</a></li>
   </ul>
</nav> -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"href="#">VibeData</a>
    </div>
    <ul class="nav navbar-nav">
      <li>{{#link-to 'wacom'}}Wacom{{/link-to}}</li>
      <li>{{#link-to 'tablet'}}Tablet{{/link-to}}</li>
      <li>{{#link-to 'pressure'}}Pressure{{/link-to}}</li>
    </ul>
    <ul class="nav navbar-form navbar-right">
        <button type="button" class="btn btn-default btn-sm" {{action 'downloadFile'}}>
          <span class="glyphicon glyphicon-download-alt"></span>
        </button>
    </ul>
</nav>
	<!-- <li class="pull-right">
		<a href="#my-menu">
		<button class="btn btn-default">
			<span class="glyphicon glyphicon-wrench"></span>
		</button>
	</a>
	</li> -->
<br>
{{outlet}}
