<div id="" class="container-fluid">
  <div class="row">
    <div id="homepage" class="col-md-6 col-md-offset-3">
      <p> The model is static.</p>
      <p> To be able to update with the new recordings, it's necessary to generate the model using Python and build the web application again.</p>
    </div>
  </div>
</div>
