<div id="" class="container-fluid ">
  <div class="row">
    <h3 align="center">Log</h3>
    <div id="11-Aug-2014" class="alert alert-warning col-md-6 col-md-offset-3">
      <p> The data model is static.</p>
      <p>
        To update the data sheet with the new recordings,
        it's necessary to generate the model using Python and build the web application again.
      </p>
      <p class="text-right"><mark>11. Aug. 2014</mark></p>
    </div>

    <div id="21-Aug-2014" class="alert alert-warning col-md-6 col-md-offset-3">
      <p> Download feature added: </p>
      <li> Slect writer's name with checkbox.</li>
      <li> Click this button <span class="glyphicon glyphicon-download-alt"></span> in the nav bar to download.</li>
      <br>
      <p> New recordings updated. </p>
      <p class="text-right"><mark>21. Aug. 2014</mark></p>
    </div>

  </div>
</div>
