<div class="container-fluid">
  <div class="row">
    <div id="writer-list" class="col-md-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title" align="center">Writers</h3>
        </div>
        <div class="panel-body">
          {{#view 'select-item'}}
          {{#each}}
              {{#link-to 'tabletwriter' this}}
                <li class="list-group-item">
                  {{id}}
                  <span id="pointer"></span>
                </li>
              {{/link-to}}
          {{/each}}
          {{/view}}
        </div>
      </div>
    </div>
    <div class="col-md-9">
      {{outlet}}
    </div>
  </div>
</div>
