<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title" align="center">Files</h3>
  </div>
  <div class="panel-body">
    {{#each filesInfo}}
    {{date-folder name=id repeat=repeat date=date}}
    {{/each}}
  </div>
</div>
